.nu-cross {
    width: 8px;
    height: 8px;
}
.nu-cross:before {
    width: 2px;
    height: 100%;
    background: blue;
    content: "";
    position: absolute;
    left: 50%;        
    transform: rotate(-45deg);
}

.nu-cross:after {
    width: 2px;
    height: 100%;
    background: blue;
    content: "";
    position: absolute;    
    left: 50%;    
    transform: rotate(45deg);
}

.my-element {
    will-change: filter;
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
   
  }
  
  .my-element:hover {
    filter: grayscale(0%);
    color: blueviolet;
  }